<ion-view>
<ion-content>
 <div class="row no-padding" style="height:40px" >
   <div class="col col-10" style="background-color:#1C2A36">
    <img src="img/back.jpg" onclick="window.history.back();" style="height:32px;width:25px;">
   </div>
   <div class="col col-90"  style="background-color:#629AD4">
    <h4 class="" style="color:#fff; margin-top:05px;" > Available Balance</h4>
   </div>
  </div>

     
      
       <div class="card">
        <h3 style="color: #b71c1c;font-weight: bold; margin-left:20px; margin-top:10px";>Bicycle FSA</h3>
        <div style="margin-left:20px; margin-top:15x";>
            
                   <p><b>Annual Election</b></p>
				   <p>$240.00</p>
				   <p><b>Available Balance</b></p>
				   <p>$240.00</p>
        </div>
      </div>
    
      <div class="card">
         <h3 style="color: #b71c1c;font-weight: bold; margin-left:20px; margin-top:10px";>Transit FSA</h3>
           <div style="margin-left:20px; margin-top:15x";>
	
             <p><b>Annual Election</b></p>
             <p>$600.00</p>
			
             <p><b>Available Balance</b></p>
             <p>$600.00</p>      
          </div>
     
      </div>
	  

</ion-content>
</ion-view>