<ion-view>
  

    <ion-content >
    <div class="row no-padding" style="height:40px" >
   <div class="col col-10" style="background-color:#1C2A36">
    <img src="img/back.jpg" onclick="window.history.back();" style="height:32px;width:25px;">
   </div>
   <div class="col col-90"  style="background-color:#629AD4">
    <h4 class="" style="color:#fff; margin-top:05px;" > Account Information</h4>
   </div>
  </div>
     <div class="card"  >
     <div  style="margin-left:20px; margin-top:10px";">
            <p><b>FAS Effective Date</b></p>
			<p>155{{accnumber.EFFECTIVE_DATE}}</p>
            <p><b>Account Number</b></p>
			<p>155{{accnumber.ACC_NUM}}</p>
     </div>
     </div>
    
  </ion-content>
</ion-view>
