 
<ion-view >
  <style>
    
    .div{
      text-align: center;
      padding: 25px;
    }
  </style>
  <ion-content>
   <div class="row no-padding" style="height:40px" >
   <div class="col col-10" style="background-color:#1C2A36">
    <img src="img/back.jpg" onclick="window.history.back();" style="height:32px;width:25px;">
   </div>
   <div class="col col-90"  style="background-color:#629AD4">
    <h4 class="home-head" style="color:#fff; margin-top:05px;" >Make Disbursement</h4>
   </div>
  </div>
      
	
	
	
      </div>
    <div class="div"> 
		<a href="#/payme" menu-close style="text-decoration:none ;color:black">
			<img src="img/payme.jpg" style="height: 100px; width: 100px;">
			<p class="home-head">Pay Me</p>
		</a>
    </div>
     <div class="div">
		<a href="#/payprovider" menu-close style="text-decoration:none ;color:black">
			<img src="img/pay2.png" style="height: 100px; width: 100px;">
			<p class="home-head">Pay Provider</p>
		</a>
    </div>
   <div style="height: 200px;"></div>
  </ion-content>
</ion-view>
