<ion-view>
    <ion-content>
	
    <div class="row no-padding" style="height:40px" >
                   <div class="col col-10" style="background-color:#1C2A36">
                     <img src="img/back.jpg" onclick="window.history.back();" style="height:32px;width:25px;">
                   </div>
                   <div class="col col-90"  style="background-color:#629AD4">
                         <h4 class="home-head" style="color:#fff; margin-top:05px;" > New Claim Request</h4>
                   </div>
               </div>
      
    
        <div class="list list-inset">
        <label class="item item-input item-select item-stable" >
          <div class="input-label">
           Select Plan
           
            </div>
            <select ng-model="claim" ng-change="getClaim(claim)" placeholder="select your beverage">
            <option value="" disabled selected>Select Plan</option>
			<option value="Bicycle">Bicycle FSA</option>
            <option value="Transit">Transit FSA</option>
          
          </select>

            </label>
      </div>

      
    </ion-content>
</ion-view>